In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
url = "https://github.com/TheEconomist/banana-index-data/releases/download/1.0/bananaindex.csv"
df = pd.read_csv(url)

In [ ]:
# Display the first few rows:
print(df.head())

In [ ]:
# Display the dataframe info:
print(df.info())

Set the index of the DataFrame to be the ‘entity’ column.

In [ ]:
df = df.set_index('entity')

In [ ]:
df.head()

Remove the ‘year’, ‘Banana values’, ‘type’, ‘Unnamed: 16’, and ‘Chart?’ columns.

In [ ]:
df = df.drop(columns=['year', 'Banana values', 'Unnamed: 16', 'Chart?'])
df.info()

Display the first few rows of the modified DataFrame.

In [ ]:
df.head()

For each of the pre-computed banana score columns (kg, calories, and protein), show the 10 highest-scoring food products.

In [ ]:
def top_banana_scores(df, column):
    top = df.nlargest(10, column)
    """ Return the top 10 values of a column """
    return top[column]

In [ ]:
top_banana_scores(df, 'Bananas index (kg)')
top_banana_scores(df, 'Bananas index (1000 kcalories)')
top_banana_scores(df, 'Bananas index (100g protein)')

Use your function to display the results for each of the three Banana index columns.

In [ ]:
banana_cols = ['Bananas index (kg)' , 
               'Bananas index (1000 kcalories)',
               'Bananas index (100g protein)'] 

for col in banana_cols:
    print(top_banana_scores(df, col))

Identify which foods, if any, appear in the top 10 for all three banana score lists (kg, calories, and protein).

In [ ]:
top_10_1000kcg = set(top_banana_scores(df, 'Bananas index (1000 kcalories)').index)
top_10_kg  = set(top_banana_scores(df, 'Bananas index (kg)').index)
top_10_protein  = set(top_banana_scores(df, 'Bananas index (100g protein)').index)

top_bananas_overall = set.intersection(top_10_1000kcg, top_10_kg,top_10_protein)
print(top_bananas_overall)

Create a new column named ‘Bananas index (land use 1000 kcal)’, calculating that food item’s use of land for every 1,000 kcal in comparison to a banana.

In [ ]:
bananas_land_use = df.loc['Bananas', 'land_use_1000kcal']
print(bananas_land_use)
df['Bananas index (land use 1000 kcal)'] = df['land_use_1000kcal']/ bananas_land_use

df.head()

In [ ]:
#Display the 10 foods with the highest land use score.

In [ ]:
highest_land_use = df.sort_values('land_use_kg',ascending = False)['land_use_kg'].head(10)
print(highest_land_use)

In [ ]:
#Compare this list with the previous top 10 lists. Are there any common foods?

In [ ]:
# top_10_1000kcg = set(top_banana_scores(df, 'Bananas index (1000 kcalories)').index)
# top_10_kg  = set(top_banana_scores(df, 'Bananas index (kg)').index)
# top_10_protein  = set(top_banana_scores(df, 'Bananas index (100g protein)').index)

common_foods = set.intersection(top_10_1000kcg, top_10_kg,top_10_protein, highest_land_use)
print(top_bananas_overall)

In [ ]:
#Identify the type of cheese with the highest banana score per 1,000 kcal. How does it compare to other cheeses in the dataset?

In [ ]:
highest_cheese = df.filter(like = 'cheese', axis = 0)


[highest_cheese['Bananas index (1000 kcalories)'].max()]